.modal-background {
    background: rgba(0,0,0,.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    left: 0;
    top: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
}

.modal-container {
    background: #FFF;
    padding: 20px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 20px;
}

.modal-message {
    font-size: 1.5em;
    margin: 0;
}
