
.loading-overlay-content {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
    opacity: 1;
}

.loading-overlay-content.hide {
    opacity: 0;
    pointer-events: none;
}

.loading-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}