*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edeff3;
  color: #1b1b1b;
}

a {
  color: #FFF;
  text-decoration: none;
}

input, textarea {
  border: 1px solid #3c3c3c;
  border-radius: 5px;
}

.container {
  max-width: 1100px;
  padding: 10px;
  margin: auto;
}

.card-container {
  border-radius: 10px;
  background: #FFF;
  padding: 20px;
  box-shadow: 0px 6px 18px -3px rgba(0,0,0,0.5);
}

.btn {
  padding: 8px 18px;
  border: none;
  outline: none;
  /* background: #8e8e8e;ec8329 */
  background: #6e3cd6;
  color: #FFF;
  border-radius: 3px;
  margin: 5px;
  transition: .3s;
}

.btn:hover {
  /* background: #4e4e4e; */
  background: #482690;
  transform: scale(1.05);
}

.btn-red {
  background: #d01e1e;
}

.btn-red:hover {
  background: #881d1d;
}

.btn-container-right {
  text-align: right;
}

.icon {
  cursor: pointer;
  color: #FFF;
  transition: .3s;
}

.input-container {
  margin: 10px 0;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: #F00;
  font-size: .8em;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  width: 100%;
}

.form-container textarea {
  resize: vertical;
  font-family: inherit;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}